<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    
    
     <!--  <div class="wrapper"> -->
        <div class="container main">
            <div class="row">

               
               
                <div class="col-md-6 right">
                   
                    <form action=""  (submit)="onSubmit()" [formGroup]="registerForm">
                        <div *ngIf="!verifPass" class="text-danger" id="">
                            <span>les deux password ne correspondent pas!</span>
                          </div>
                    <h3 style="color:rgba(0, 38, 77, 1);">Modification mot de passe</h3> 
                     <div class="input-box">

                        <div class="input-field">
                            <input type="password" class="input" id="password" required  formControlName="password" >
                            <div *ngIf="registerForm.controls['password'].dirty &&  registerForm.controls['password'].errors && registerForm.controls['password'].errors['required']" class="text-red-600">
                               <span style="color: red;"> <p>Ce champ est requis</p></span>
                              </div>
                            <label for="password"> Ancien<span style="color: red;">*</span></label>
                        </div> <br>

                        <div class="input-field">
                            <input type="password" class="input" id="password" required  formControlName="password" id="pass1">
                            <div *ngIf="registerForm.controls['password'].dirty &&  registerForm.controls['password'].errors && registerForm.controls['password'].errors['required']" class="text-red-600">
                               <span style="color: red;"> <p>Ce champ est requis</p></span>
                              </div>
                            <label for="password"> nouveau<span style="color: red;">*</span></label>
                        </div> <br>
                        <div class="input-field">
                            <input type="password" class="input" id="password" required  formControlName="password" id="pass2" (change)="checkPassword()">
                            <div *ngIf="registerForm.controls['password'].dirty &&  registerForm.controls['password'].errors && registerForm.controls['password'].errors['required']" class="text-red-600">
                               <span style="color: red;"> <p>Ce champ est requis</p></span>
                              </div>
                            <label for="password"> confirmation<span style="color: red;">*</span></label>
                        </div> <br>

                        
                        <div class="input-field">
                            <button type="submit" (click)="onSubmit()" class="submit" >
                                Modifier
                            </button>
                        </div>
                     </div>
                    </form>
                </div>
            </div>
        </div>
   <!--  </div> -->

       
  

  
</body>
</html>

