<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-light">

<div class="container justify-content-between custom-line d-flex justify-content-around mt-4" style=" height: 60px;  background-color: #D9D9D9;">
  <h3 class="text-center mt-2 ">LES DONNEES EN TEMPS REEL</h3>
</div>
  
    <div class="container justify-content-between custom-line pape bg-image "  
    style="
      background-image: url('https://document-export.canva.com/swm7Y/DAFcPVswm7Y/2/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20230322%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230322T220512Z&X-Amz-Expires=52173&X-Amz-Signature=595a1160bd09a545f2e419cdf60e38c2d8b1e367fc10e7bccf10915406418ba6&X-Amz-SignedHeaders=host&response-expires=Thu%2C%2023%20Mar%202023%2012%3A34%3A45%20GMT');
      background-repeat:1; height: 275px; ; 
    ">
    
       <!--  affichage de la temperature actuelle -->
      <div class="card d-flex align-items-center mt-2" style="width: 229px; height: 214px;">
          
        <div class="card-body mt-3 mr-auto " >
            <h3 class="text-center fs-5  mr-auto">Humidite Serre</h3>
            <div class="d-flex mt-4 justify-content-between">
              <img class=" d-flex mr-1 " src="../../assets/237866-removebg-preview 1.png" alt="">
             
              <div class="ml-6 fs-5">10%</div>
            </div>
           
             <div class="d-flex justify-content-around mt-3 mr-auto ">
            <div  style="font-size: 50px; color: red;" *ngFor="let i of tempHum">{{i.temperature}}°C</div>
            <div  style="font-size: 50px; color: green; margin-left: 75px;" *ngFor="let i of tempHum">{{i.humidite}}%</div>
         </div>
        
        </div>
      </div>
    
    
       <!--  affichage ventilateur -->
        <div class="card d-flex align-items-center mt-2" style="width: 229px;height: 214px;">
         
          <div class="card-body mt-3 mr-auto gap-3">
            
            <h3 class="text-center fs-5 ">Humidite sol</h3>
          <div class="d-flex mt-4 justify-content-between">
            <img class="d-flex mr-1 justify-content-between" src="../../assets/237866-removebg-preview 1.png" alt="">
           
            <div class="ml-6 fs-5 " >10%</div>
          </div>
          
           <!--  <div class=" d-flex justify-content-center mb-2" *ngIf="!img"> 
              <img class="taivent h-50 w-50" src="../../assets/gif.jpg" alt="Card image cap">  
              
            </div>
            
              <div class=" d-flex justify-content-center" *ngIf="!img">
                <button type="button" class="btn btn-success" (click)="allumer()">On</button> 
              </div>-->
              <!-- <div class=" d-flex justify-content-center" *ngIf="img">
                <button type="button" class="btn btn-danger" (click)="eteindre()">Off</button> 
              </div>
   -->
            
          </div>
        </div>
      <!--  affichage temperature moyenene -->
        <div class="card d-flex align-items-center mt-2" style="width: 229px; height: 214px;">
          
          <div class="card-body mt-3 mr-auto " >
              <h3 class="text-center fs-5">Temperature</h3>
              <div style="margin-left: -30px;"> <img src="../../assets/thermometres-mesurant-chaleur-froid-vector-illustration-icone-thermometre-equipement-montrant-chaud_-removebg-preview (3) 1.png" alt="">
              </div>
              
           <!--  <div class="d-flex justify-content-around mt-3 mr-auto ">
              <div  style="font-size: 50px; color: red;">{{moyTemp | number:'1.0-0'}}°C</div>
              <div  style="font-size: 50px; color: green; margin-left: 75px;">{{moyHum | number:'1.0-0'}}%</div>
            </div> -->
           
           
          </div>
        </div>
         <!--  affichage de la temperature actuelle -->
      <div class="card d-flex align-items-center mt-2" style="width: 229px; height: 214px;">
       
      
        <div class="card-body mt-3 mr-auto " >
            <h3 class="text-center fs-5">Luminosité</h3>
            <img src="../../assets/1242163 1.png" alt="">
            <!--  <div class="d-flex justify-content-around mt-3 mr-auto ">
            <div  style="font-size: 50px; color: red;" *ngFor="let i of tempHum">{{i.temperature}}°C</div>
            <div  style="font-size: 50px; color: green; margin-left: 75px;" *ngFor="let i of tempHum">{{i.humidite}}%</div>
         </div> -->
        </div>
      </div>
    
    
    </div>
    
    <!-- Affichage des trois Temperatures et Humidités  -->
    <div class="container justify-content-between custom-line" >
      <div class="card d-flex align-items-center bg-light" style="width: 248px; height: 317px;">
           
        <div class="card-body  mr-auto">


          <div class=" d-flex justify-content-between"> 
            <div >
              <p class="mt-4"> Ouverture </p>
               <p> Fermeture </p>
            </div>
            
               
              <img *ngIf="img" (click)="eteindre()"class="ml-6" style=" height: 122px ;width: 70px;  " src="../../assets/pngtree-white-switch-off-png-image_4461289.png" alt="Card image cap">
            
           
         
              <img *ngIf="!img"   (click)="allumer()" class="ml-6" style=" height: 122px ;width: 70px;  " src="../../assets/pngtree-white-switch-on-png-image_7391099.png" alt="Card image cap">
          </div>
          <img *ngIf="img" style=" height: 160px; width: 160px; " src="../../assets/FANNNNNN.png" alt="Card image cap">
          <img *ngIf="!img" style=" height: 160px; width: 160px; " src="../../assets/fan-gif-46-black-fan-transparent-background.gif" alt="Card image cap">
        
        </div>
      </div>
        
          <div class="card d-flex align-items-center bg-light" style="width: 248px; height: 317px;">
           
            <div class="card-body  mr-auto">


              <div class=" d-flex justify-content-between"> 
                <div >
                  <p class="mt-4"> Ouverture </p>
                   <p> Fermeture </p>
                </div>
                
                   
                  <img *ngIf="porte" (click)="off_porte_click()"class="ml-6" style=" height: 122px ;width: 70px;  " src="../../assets/pngtree-white-switch-off-png-image_4461289.png" alt="Card image cap">
                
               
             
                  <img *ngIf="!porte"   (click)="on_porte_click()" class="ml-6" style=" height: 122px ;width: 70px;  " src="../../assets/pngtree-white-switch-on-png-image_7391099.png" alt="Card image cap">
              </div>
              <img *ngIf="porte" style=" height: 160px; width: 160px; " src="../../assets/2fl..jpg" alt="Card image cap">
              <img *ngIf="!porte" style=" height: 160px; width: 160px; " src="../../assets/ffm.jpg" alt="Card image cap">
            
            </div>
          </div>
        
          <div class="card d-flex align-items-center bg-light" style="width: 248px; height: 317px;">
           
            <div class="card-body  mr-auto">


              <div class=" d-flex justify-content-between"> 
                <div >
                  <p class="mt-4"> Ouverture </p>
                   <p> Fermeture </p>
                </div>
                
                   
                  <img *ngIf="toit" (click)="off_toit_click()"class="ml-6" style=" height: 122px ;width: 70px;  " src="../../assets/pngtree-white-switch-off-png-image_4461289.png" alt="Card image cap">
                
               
             
                  <img *ngIf="!toit"   (click)="on_toit_click()" class="ml-6" style=" height: 122px ;width: 70px;  " src="../../assets/pngtree-white-switch-on-png-image_7391099.png" alt="Card image cap">
              </div>
              <img *ngIf="toit" style=" height: 160px; width: 160px; " src="../../assets/72560-5577467 2.png" alt="Card image cap">
              <img *ngIf="!toit" style=" height: 160px; width: 160px; " src="../../assets/72560-5579745 1.png" alt="Card image cap">
            
            </div>
          </div>
          <div class="card d-flex align-items-center" style="width: 248px;height: 317px;">
           
            <div class="row justify-content-center card-body  bg-light mr-6" style="width: 248px;height: 147px;">
              
        
             <!--    <div>
                <img *ngIf="t8 <= 30; else archive;" class="card-img-top rounded-circle taicard" src="../../assets/music-equalizer-gif-animation-2 1.png" alt="Card image cap">
                <img *ngIf="t8 >= 24" class="card-img-top rounded-circle taicard" src="../../assets/8hh.jpeg" alt="Card image cap">
                <ng-template #archive> -->
                  
                  <div class="text-center" > Detection intrusion</div>
                  <img  style="width: 68px;height: 74px;" class="card-img-top rounded-circle taicard" src="../../assets/Group 84.png" alt="Card image cap"> 
               <!--   </ng-template>  
              </div> 
               
              -->
            </div>
            <div class="d-flex justify-content-center  mt-1 mr-auto bg-light" style="width: 248px;height: 147px;">
              
            
              <img  *ngIf="!arrosage"  class="d-flex align-items-center mt-4" style="width: 128px;height: 104px;"  src="../../assets/arrosage.png" alt="Card image cap"> 
              <img  *ngIf="arrosage"  class="d-flex align-items-center mt-4" style="width: 128px;height: 104px;"  src="../../assets/arrosage.gif" alt="Card image cap"> 
              <div class="mt-3" > <img  *ngIf="arrosage" (click)="off_arrosage_click()" class="ml-6" style=" height: 120px ;width: 70px;  " src="../../assets/pngtree-white-switch-on-png-image_7391099.png" alt="Card image cap"> 
                <img *ngIf="!arrosage"   (click)="on_arrosage_click()"class="ml-6" style=" height: 120px ;width: 70px;  " src="../../assets/pngtree-white-switch-off-png-image_4461289.png" alt="Card image cap"> 
              </div>

             <!--  <div>
               <img *ngIf="t8 >= 30; else archive;" class="card-img-top rounded-circle taicard" src="../../assets/8hh.jpeg" alt="Card image cap">
              <img *ngIf="t8 >= 24" class="card-img-top rounded-circle taicard" src="../../assets/8hh.jpeg" alt="Card image cap">
              <ng-template #archive>
                <img  style="width: 248px;height: 147px;" class="card-img-top rounded-circle taicard" src="../../assets/" alt="Card image cap">
              </ng-template>  
            </div> -->
             
            
          </div>
          </div> 
    </div>
  
    

</body>
</html>