<div class="container">
    <table class="table table-bordered border-dark" style="margin-bottom: 200px;" >
    <thead >
      <tr >
        <th scope="col" style="width: 33%;"><h4>Heure/Données</h4> </th>
        <th  scope="col" style="width: 33%;"><h4>07h 00</h4></th>
        <th scope="col" style="width: 33%;"><h4>18h 00</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><h4>Température</h4></th>
        <td>30°C</td>
        <td>20°C</td>
      </tr>
      <tr>
        <th scope="row"><h4>Humidité</h4></th>
        <td>40%</td>
        <td>30%</td>
      </tr>
   <tr>
    <th scope="row"><h4>Humidité sol</h4></th>
    <td>40%</td>
    <td>80%</td>
   </tr>
   <tr>
    <th scope="row"><h4>Débit</h4></th>
   </tr>
   
    </tbody>
  </table>
 


  <div class="container">
    <div class="row">
      <div class="col-4"><button type="button" class="btn btn-primary"><h5>Option A</h5></button><br></div>
      <div class="col-6">
     <h4>0% à 30% 1L par plante,
        30% à 60% 1/2L par plante, 
        60% à 90% 1/4L par plante
      </h4></div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-4"><button type="button" class="btn btn-dark"> <h5>Option B</h5></button><br></div>
      <div class="col-6">
       <h4>0% à 30% 1.5L par plante,
        30% à 60% 1L par plante, 
        60% à 90% 0.75L par plante
      </h4>
    </div>
    </div>
  </div>
 </div>
