<div class="container">
    <table class="table table-bordered border-dark" style="margin-bottom: 200px;" >
    <thead >
      <tr >
        <th scope="col" style="width: 33%;"><h4>Données &nbsp; / &nbsp; Heures</h4> </th>
        <th  scope="col" style="width: 33%;"><h4>07h 00</h4></th>
        <th scope="col" style="width: 33%;"><h4>18h 00</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><h4>Température</h4></th>
        <td> 30°C</td>
        <td>20°C</td>
      </tr>
      <tr>
        <th scope="row"><h4>Humidité</h4></th>
        <td>40%</td>
        <td>30%</td>
      </tr>
   <tr>
    <th scope="row"><h4>Humidité sol</h4></th>
    <td>40%</td>
    <td>80%</td>
   </tr>
   <tr>
    <th scope="row"><h4>Débit</h4></th>
    <td>1L</td>
    <td>1L</td>
   </tr>
   
    </tbody>
  </table>
 


  <div class="container">
    <div class="row">
      <div class="col-4"><button style="height: 80px;" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"><h5>Option A</h5>
      </button><br>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
Vulez-vous vraiment effectuez cette option
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/arrosage">NON</button>
        <button type="button" class="btn btn-primary">OUI</button>
      </div>
    </div>
  </div>
</div>
    </div>
      <div class="col-6" style="background-color: #D9D9D9; height: 80px; border: 2px;">
     <h4>0% à 30% 1L par plante,
        30% à 60% 1/2L par plante, 
        60% à 90% 1/4L par plante
      </h4>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row"> <div class="row">
      <div class="col-4"><button style="height: 80px;" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"><h5>Option B</h5>
      </button><br>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
Vulez-vous vraiment effectuez cette option
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/arrosage">NON</button>
        <button type="button" class="btn btn-primary">OUI</button>
      </div>
    </div>
  </div>
</div>
    </div>
      <div class="col-6"  style="background-color: #D9D9D9; height: 80px; ;">
       <h4>0% à 30% 1.5L par plante,
        30% à 60% 1L par plante, 
        60% à 90% 0.75L par plante
      </h4>
    </div>
    </div>
  </div>
 </div>
