
 <div class="container d-flex justify-content-center" style="margin-top: 50px;">   
  <h2 class=" text-dark ">HISTORIQUE DE LA SEMAINE</h2>    

 <!--  <form class="form-inline my-2 my-lg-2 row">
    <div class="d-flex gap-1">
      <input *ngIf="show" id="search" class="form-control" type="text" name="search" placeholder="Rechercher" [(ngModel)]="searchText">
      <button class="btn btn-outline-danger" (click)="afficher()"><i class="bi bi-search"></i></button>
    </div>
  </form> -->
  
</div>
<!-- <div class="d-flex justify-content-end" style="margin-bottom: 10px; ">
<span class="btn btn-danger" title="Courbe d'hier"><button>
<a class = "d-flex justify-content-center" routerLink="/diagramme">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
  <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
</svg></a></button>
</span>
</div> -->
<div class="container bg-write ">
 <table class="table table-bordered rounded-3">
  
  <thead >
    <tr >
      <th scope="col">Date</th>
      <!-- <th scope="col">Heure</th> -->
      <th scope="col"><i class="bi bi-thermometer-half"></i>Temperature</th>
      <th scope="col"> <i class="bi bi-droplet-half"></i> HumiditeSol</th>
      <th scope="col"> <i class="fal fa-cloud-hail"></i>HumiditeSerre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of hist| filter:searchText | paginate: { itemsPerPage:  itemsperpage, currentPage: p}">
      <!-- <th rowspan="3" scope="row" class="text-center">Temperature en °C</th> -->
      <td>{{i.date}}</td>
      <td>{{i.temperature}}°C</td>
      <td>{{i.humidite_sol}}%</td> 
      <td>{{i.humidite_serre}}%</td> 
    </tr>

  </tbody>
</table>
</div>

<div class="mt-8 py-5 ">
  <div class="pagination fixed-bottom justify-content-center ">
    <pagination-controls (pageChange)="p = $event"></pagination-controls> 
  </div>
</div>